.form {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  background-color: #c8c9ca;
  width: 80%;
  padding: 10px 5px;
  border-radius: 20px;
}

.newexpenses {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
}

.input {
  width: 25vw;
  padding: 5px;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 20px;
}

.newtitle {
  margin: 2% 0;
}

.newamount {
  margin: 2% 0;
}

.newdate {
  margin: 2% 0;
}

.newtime {
  margin: 2% 0;
}

.btnaddexpense {
  margin-left: 45%;
}

.button {
  background-color: white;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button:hover {
  animation: gradient 0.25s forwards;
}

@keyframes gradient {
  0% {
    background: radial-gradient(
      circle at center,
      coral 0%,
      dodgerblue 0%,
      dodgerblue 100%
    );
  }
  25% {
    background: radial-gradient(
      circle at center,
      coral 24%,
      dodgerblue 25%,
      dodgerblue 100%
    );
  }
  50% {
    background: radial-gradient(
      circle at center,
      coral 49%,
      dodgerblue 50%,
      dodgerblue 100%
    );
  }
  75% {
    background: radial-gradient(
      circle at center,
      coral 74%,
      dodgerblue 75%,
      dodgerblue 100%
    );
  }
  100% {
    color: dodgerblue;
    background: radial-gradient(
      circle at center,
      coral 99%,
      coral 100%,
      coral 100%
    );
  }
}

@media screen and (max-width: 1050px) {
  .btnaddexpense {
    margin-left: 40%;
  }
}

@media screen and (max-width: 900px) {
  .btnaddexpense {
    margin-right: 30%;
    margin-left: 35%;
  }
}

@media screen and (max-width: 840px) {
  .btnaddexpense {
    margin-left: 33%;
    margin-right: 0;
  }
}

@media screen and (max-width: 650px) {
  .newexpenses {
    flex-flow: column;
    justify-content: center;
  }

  .btnaddexpense {
    margin-left: 3%;
  }
}

@media screen and (max-width: 435px) {
  .btnaddexpense {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 380px) {
  .button {
    padding: 5px 10px;
    font-size: 20px;
  }
}
