.footer {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  background-color: #e8e8e877;
  padding: 20px 0;
}

.box {
  width: 30%;
  background-color: #e6e9ec94;
}

.footer ul {
  display: inline-block;
  margin-left: 30px;
  list-style: none;
  text-align: left;
  margin: 5px 0;
}

.left {
  display: flex;
  justify-content: space-between;
}

.left li {
  margin: 0 40px;
}

.left li a {
  color: #212529;
}

.list-head {
  font-size: 20px;
}

.list a {
  display: block;
  text-decoration: none;
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  .footer {
    flex-flow: column;
    margin-left: 15%;
  }
  .box {
    width: 80%;
    height: 200px;
  }
  .left {
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    flex-flow: column;
    margin-left: 15%;
  }
  .box {
    width: 80%;
    height: 200px;
  }
  .left {
    margin-top: 10px;
    flex-flow: column;
  }
}
