.menu{
  background-color: dodgerblue;
  margin-top: 20px;
}

.menu li{
  display: inline-block;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
}

.menu li:hover{
  background-color: #e6e9ec94;
}